In [43]:
import numpy as np
import pandas as pd
from NaiveBayes import NaiveBayes

In [69]:
data = {
    'Emily': -1,
    'John': 1,
    'Sarah': -1,
    'Michael': 1,
    'Jessica': -1,
    'David': 1,
    'Emma': -1,
    'James': 1,
    'Olivia': -1,
    'Daniel': 1,
    'Andrew': 1,
    'Sophia': -1,
    'Matthew': 1,
    'Ava': -1,
    'Joshua': 1,
    'Charlotte': -1,
    'Ethan': 1,
    'Mia': -1,
}

X = list(data.keys())
y = list(data.values())

print(len(X), len(y))

18 18

In [70]:
def featurize(name):
    features = np.zeros(26)
    for char in name:
        features[ord(char) - ord('A')] = 1
    return features

X = np.array([featurize(name.upper()) for name in X])
y = np.array(y)

In [71]:
model = NaiveBayes()
predictions = model.fit(X, y)

df_train = pd.DataFrame({'Name': data.keys(), 'Label': np.where(y==1,"Boy","Girl"), 'Predictions': np.where(predictions==1,"Boy","Girl")})
print('Accuracy:', round(np.mean(predictions == y),2))
df_train

Accuracy: 0.89

         Name Label Predictions
0       Emily  Girl        Girl
1        John   Boy         Boy
2       Sarah  Girl        Girl
3     Michael   Boy        Girl
4     Jessica  Girl        Girl
5       David   Boy        Girl
6        Emma  Girl        Girl
7       James   Boy         Boy
8      Olivia  Girl        Girl
9      Daniel   Boy         Boy
10     Andrew   Boy         Boy
11     Sophia  Girl        Girl
12    Matthew   Boy         Boy
13        Ava  Girl        Girl
14     Joshua   Boy         Boy
15  Charlotte  Girl        Girl
16      Ethan   Boy         Boy
17        Mia  Girl        Girl

In [75]:
X_test = {
    'Liam': 1,
    'Noah': 1,
    'Oliver': 1,
    'Elijah': 1,
    'Lucas': 1,
    'Mason': 1,
    'Logan': 1,
    'James': 1,
    'Alexander': 1,
    'Benjamin': 1,
}

y_test = np.array(list(X_test.values()))
X_test_copy = np.array([featurize(name.upper()) for name in X_test.keys()])

In [76]:
preds = model.predict(X_test_copy)

In [77]:
preds_sex = np.where(preds == 1, 'Boy', 'Girl')

df_results = pd.DataFrame({'Name': list(X_test.keys()), 'Predicted': preds_sex, 'Actual': np.where(y_test == 1, 'Boy', 'Girl')})
print('Accuracy:', round(np.mean(preds == y_test),2))
df_results

Accuracy: 0.7

        Name Predicted Actual
0       Liam      Girl    Boy
1       Noah       Boy    Boy
2     Oliver      Girl    Boy
3     Elijah       Boy    Boy
4      Lucas      Girl    Boy
5      Mason       Boy    Boy
6      Logan       Boy    Boy
7      James       Boy    Boy
8  Alexander       Boy    Boy
9   Benjamin       Boy    Boy